.idea/
target/
*.iml
.DS_Store
/bin/
/.classpath
/.project
/.settings/org.eclipse.m2e.core.prefs
/spring-flex-core/.classpath
/spring-flex-core/.project
/spring-flex-hibernate3/.classpath
/spring-flex-hibernate3/.project
/spring-flex-hibernate4/.classpath
/spring-flex-hibernate4/.project
/spring-flex-integration/.classpath
/spring-flex-integration/.gitignore
/spring-flex-integration/.project
/spring-flex-samples/spring-flex-testdrive/.classpath
/spring-flex-samples/spring-flex-testdrive/.project
/spring-flex-samples/spring-flex-testdrive/.settings/org.eclipse.m2e.core.prefs
/spring-flex-samples/spring-flex-testdrive/chat/.classpath
/spring-flex-samples/spring-flex-testdrive/chat/.gitignore
/spring-flex-samples/spring-flex-testdrive/collaboration/.classpath
/spring-flex-samples/spring-flex-testdrive/collaboration/.gitignore
